<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button routerLink="/home">
          <ion-icon color="primary" slot="icon-only" name="home-outline"></ion-icon>
        </ion-button>
        <ion-button routerLink="/registro">
          <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      Restablecer Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<h3 class="subtitulo encabezado">Bienvenido!</h3>

<ion-list>
    <br>
    <ion-item>
      <ion-label>
        Email:
      </ion-label>
      <ion-input  slot="end" type="text" placeholder="Ingresar usuario"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>
        Escriba su nueva contraseña:
      </ion-label>
      <ion-input  slot="end" type="password" placeholder="Ingresar contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Confirme su nueva contraseña:
      </ion-label>
      <ion-input  slot="end" type="password" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <ion-button  expand="full" color="dark" style="margin: 30px" [routerLink]="['/loginconductor']" >Restablecer </ion-button>
  <div style="text-align: end; margin: 10px;">
  <ion-button [routerLink]="['/home']" class="normal" color="dark"> Volver </ion-button>
  </div>
  
</ion-content>
