<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button routerLink="/home">
          <ion-icon color="primary" slot="icon-only" name="home-outline"></ion-icon>
        </ion-button>
        <ion-button routerLink="/perfil">
          <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="titulo">Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <h3 class="subtitulo encabezado">Viajes solicitados!</h3>
</ion-content>
