<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon color="primary" slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/registro']">
        <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      FranciscUber
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content color="light" [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <img class="col-12 m-1" src="https://www.am.com.mx/u/fotografias/m/2022/8/31/f768x1-414366_414493_235.jpg" alt="" width="250" height="350">
      <ion-card-title class="card-title text-center">
        <br>Bienvenido/a a <br>Don FranciscUber
      </ion-card-title>
      <p class="card-text text-center"><br>La mejor aplicación de viajes para Chile.</p>
      <p class="card-text text-center"><br>¡¡¡Levántate papitooooo!!!</p>
    </ion-card-content>
  </ion-card>


  

</ion-content>

